*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.key, .bigKey, .space, .textarea button, .reset button{
    cursor: pointer;
}
button:focus, span:focus{
    outline: none;
}

body, .keyboard{
    transition: .5s ease;
}

body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
/* date */
.date{
    margin-left: 2%;
}
/*son*/


/* reset*/
.reset{
    width: 10%;
    height: 100%;
}

.reset button{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

/* chat */
.main{
    overflow: auto;
    flex: 2;
    display: flex;  /* a modif si réponses doivent apparaitre a gauche */
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
}

.chat{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat div, #myMess{
    border-radius: 10px;
    margin: 0 10px 7px 0;
    padding: 5px;
    font-size: .7em;
}

#myMess{
    display: none;
}

/* downP */
.downP{
    height: 30%;
    display: flex;
    flex-direction: column;
}

/* keyboard */
.keyboard{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Trispace', sans-serif;
}
.row{
    display: flex;
    justify-content: center;
    height: 18%;
    margin: 3px 0;
    position: relative;
}
p{
    font-size: 150%;
}
.key{
    width: 4em;
}
.bigKey{
    width: 7em;
}
.space{
    width: 30em;
}
.key, .bigKey, .space{
    margin: 0 3px;
    padding: 5px;
    border-radius: 10px;
}
.key p, .bigKey p, .space p{
    pointer-events: none;
}
.caps, .shift{
    position: relative;
}
.led{
    position: absolute;
    height: 10px;
    width: 10px;
    top: 10px;
    right: 10px;
    border-radius: 25px;
}

/* night/light & send */
.toggleButton, .send{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggleButton{
    margin-right: auto;
}
.send{
    margin-left: auto;
    color: black;
}
/* fake flex */
.fakeButton{
    width: 10em;
    margin: 0 5px;
    margin-left: auto;
}

/*emojis */
div .emojis{
    display: flex;
    justify-content: center;
    align-items: center;
}