body, .key, .bigKey, .space{
    background-color:  #212121;
}
header{
    color: #14ffec;
}
.keyboard, header{
    background-color: #323232;
}
.chat div, #myMess{
    border: 2px solid #08d9d6;
    color: white;
}
.key, .bigKey, .space{
    border-color: transparent #ddd #999 transparent;
    color: white;
}
.key:hover, .bigKey:hover, .space:hover{
    background-color: black;
}
.toggleButton, .toggleButton:hover{
    background-color: white;
    color: black;
}
.reset button, .send, .send:hover{
    background-color: #14ffec;
    color: black;
}