.keyboard, header{
    background-color:#e9dfdf;
}
header{
    color: #ff2e63;
}
.chat div, #myMess{
    border: 2px solid #ff2e63;
}
.key, .bigKey, .space{
    background-color: white;
    color: black;
}
.key:hover, .bigKey:hover, .space:hover{
    background-color: rgb(221, 221, 221);
}
.toggleButton, .toggleButton:hover{
    background-color: rgb(39, 38, 38);
    color: white;
}
.reset button, .send, .send:hover{
    background-color: #ff2e63;
}