body{
    background-color:  #212121;
}

header{
    color: #14ffec;
}

.reset button{
    background-color: #14ffec;
}

.keyboard, header{
    background-color: #323232;
}

.chat div{
    border: 2px solid #08d9d6;
    color: white;
}

.key, .bigKey, .space{
    background-color: #212121;
    border-color: transparent #ddd #999 transparent;
    color: white;
}

.toggleButton{
    background-color: white;
    color: black;
}

