
.keyboard, header{
    background-color:#e9dfdf;
}

header{
    color: #ff2e63;
}

.reset button{
    background-color: #ff2e63;
}

.chat div{
    border: 2px solid#ff2e63;
}

.key, .bigKey, .space{
    background-color: white;
    color: black;
}

.toggleButton{
    background-color: rgb(39, 38, 38);
    color: white;
    font-size: 100%;
}